    <header>
        <div class="container-navbar">
            <div class="logo">
                <a href="/admin">
                    <img src="/images/logo.svg" alt="">
                    <p>VetSalud</p>
                </a>
            </div>
            <i class="fa-solid fa-bars" id="menu-abrir"></i>
            <nav class="navbar container" id="nav">
                <i class="fa-solid fa-bars" id="menu-cerrar"></i>
                <ul class="menu" id="menu-list">
                    <li><a href="/clientes">Clientes</a></li>
					<li><a href="/citas">Citas programadas</a></li>
                    <li><a href="#">Crear ficha médica</a></li>
                    <li><a href="/fichasMedicas">Fichas médicas</a></li>
                    <li><a href="/admin"><img width="80" src="/images/user.svg" alt=""></a></li>
                    <li><a href="/logout" id="registro"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>