<header>
    <div class="container-navbar">
        <div class="logo">
            <a href="/user">
                <img src="/images/logo.svg" alt="">
                <p>VetSalud</p>
            </a>
        </div>
        <i class="fa-solid fa-bars" id="menu-abrir"></i>
        <nav class="navbar container" id="nav">
            <i class="fa-solid fa-bars" id="menu-cerrar"></i>
            <ul class="menu" id="menu-list">
                <li><a href="/user">Inicio</a></li>
                <li><a href="/registroMascota">Mascotas</a></li>
                <li><a href="/registrarCita">Agendar una cita</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="/perfil"><img width="80" src="/images/user.svg" alt=""></a></li>
                <li><a href="/logout" id="registro"><i class="fa-solid fa-right-from-bracket"></i></a></li>
            </ul>
        </nav>
    </div>
</header>