<!DOCTYPE html>
<html lang="es">
	<%- include ("templates/head.ejs", {titulo: 'Registrar cita', css: '/css/registroMascota.css'}) %>
	<body>
		<%- include ("templates/user.header.ejs") %>;
    <section class="ventana">
        <div class="contenedor">
            <div class="ingreso-container">
                <h2>Agendar una cita</h2>
                <form class="ingreso-form" action="#" method="post">
                    <div class="nombre">
                        <input type="text" id="motivo" name="motivo" placeholder="Motivo" required>
                    </div>
                    <div class="fecha">
                        <label for="opciones">Selecciona una mascota:</label>
                        <select id="mascotas" name="mascotas">
                            <% mascotas.forEach((mascota) => { %>
                                opcionesMascotas += `<option value="<%= mascota.ID_MASCOTA %> "> <%= mascota.NOMBRE_MASCOTA %></option>`;
                              <% }); %>
                        </select>
                    </div>
                    <div class="fecha">
                        <label>Fecha: <input type="date" id="fecha" name="fecha" placeholder="Fecha" required></label>
                    </div>

                    <button id="btnIngresar" type="submit" >Agendar cita</button>
                </form>
            </div>
        </div>
    </section>

    <script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>

		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

		<!-- custom js file link  -->
		<script src="js/registroCita.js"></script>
  </body>
</html>