<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta</title>
    <link rel="icon" href="/images/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/signUp.css">
</head>
<body>
    <section class="ventana">
        <div class="registro-bienvenida">
            <div class="logo">
                <img src="/images/logo.svg" alt="VetSalud">
                <p>VetSalud</p>
            </div>
            <div class="bienvenida">
                <h1>Únete a nuestra familia</h1>
                <p>Cuidamos, amamos, sanamos</p>
            </div>
        </div>
        <div class="contenedor">
            <div class="registro-container">
                <h2>Crear Cuenta</h2>
                <form class="registro-form" action="/signUp.html" method="post">
                    <div class="nombres">
                        <input type="text" id="nombres" name="nombres" placeholder="Nombres" required>
                    </div>
                    <div class="apellidos">
                        <input type="text" id="apellidos" name="apellidos" placeholder="Apellidos" required>
                    </div>
                    <div class="direccion">
                        <input type="text" id="direccion" name="direccion" placeholder="Direccion" required>
                    </div>
                    <div class="dni">
                        <input type="text" id="dni" name="dni" placeholder="DNI" minlength="8" required>
                    </div>
                    <div class="numero">
                        <input type="text" id="numero" name="numero" placeholder="Numero celular" minlength="9" required>
                    </div>
                    <div class="email">
                        <input type="email" id="correo" name="correo" placeholder="Correo Electrónico" required>
                    </div>
                    <div class="password">
                        <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña (mínimo 8 caracteres)" minlength="8" required>
                    </div>
                    <button id="btnRegistrarse" type="submit" >Registrarse</button>
                    <div class="link-login" >
                        <p>¿Ya tienes una cuenta? <a href="login">Inicia sesión</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    
    <dialog id="mensaje">
        <p>¡Registrado! Se ha enviado un mensaje al correo electrónico para validar el registro</p>
        <a href="/login">
            <button id="aceptar">Aceptar</button>
        </a>
    </dialog>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.querySelector('.registro-form');
            const mensajeDialog = document.getElementById('mensaje');
            form.addEventListener('submit', function(event) {
                //event.preventDefault();
                mensajeDialog.showModal();
            });
        });
    </script>
  </body>
  <script src="js/signUpValidacion.js"></script>
</html>
