@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.ventana {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.registro-bienvenida {
    background-color: #055492;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 100%;
    height: 25%;
    display: flex;
}

.logo img {
    width: 100px;
    padding-left: 10px;
}

.logo p {
    padding-left: 20px;
    margin: auto 0;
    font-size: 40px;
    color: #fff;
    font-weight: 500;
}

.bienvenida {
    width: 85%;
    height: 30%;
    margin-top: 70px;
    text-align: center;
}

.bienvenida h1 {
    font-size: 2.5em;
    color: #7fcae6;
    font-family: Arial, Helvetica, sans-serif;
}

.bienvenida p {
    font-size: 1.7em;
    color: #fff;
}

.contenedor {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registro-container {
    background-color: #055492;
    width: 400px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #7fcae6;
    padding: 0 0 0 0;
    margin-bottom: 5px;
    font-size: 30px;
}

.registro-form {
    padding: 10px 50px;
    box-sizing: border-box;
    text-align: center;
}

.registro-form .nombres,
.registro-form .apellidos,
.registro-form .direccion,
.registro-form .email,
.registro-form .password,
.registro-form .dni,
.registro-form .numero {
    margin: 10px 0;
    text-align: left;
}

.registro-form input {
    width: calc(100% - 6px);
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    border: none;
    border-bottom: 2px solid #3498db;
    outline: none;
    font-size: 15px;
}

.link-login {
    font-size: 0.9em;
    margin-top: 20px;
    color: #fff;
}

.link-login p a {
    text-decoration: none;
    font-weight: 600;
    color: #8cd8ff;
    margin-left: 5px;
}

#btnRegistrarse {
    background-color: #3498db;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btnRegistrarse:hover {
    background-color:  #1e71b0 ;
}

#mensaje::backdrop {
    background-color: rgba(0, 0, 0, .55);
}

#mensaje {
    background-color: #fff;
    width: 550px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#aceptar {
    background-color: #3498db;
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .registro-container {
        width: 60%;
    }

    .bienvenida {
        margin: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .bienvenida h1 {
        font-size: 2em;
        margin: 0;
        margin-bottom: 5px;
    }
    
    .bienvenida p {
        font-size: 1.2em;
        margin: 0;
    }

    
}

@media (max-width: 766px) {
    .registro-bienvenida {
        width: 100%;
        height: 18%;
    }

    .contenedor {
        width: 100%;
        height: 80%;
    }

    .ventana {
        display: flex;
        flex-direction: column;
    }
    .registro-container {
        max-width: 400px;
        width: 70%;
    }

    .registro-container h2 {
        margin-bottom: 0;
    }
    
    .registro-form input {
        height: 20px;
        font-size: 13px;
    }

    #btnRegistrarse {
        font-size: 15px;
    }

    .registro-bienvenida {
        display: flex;
        flex-direction: row;
    }

    .logo {
        width: 30%;
        height: 100%;
    }

    .logo img {
        margin-left: 20px;
        height: 100%;
    }

    .logo p {
        display: none;
    }

    .bienvenida {
        margin: 0;
        padding: 0;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .bienvenida h1 {
        font-size: 1.5em;
        margin: 0;
        margin-bottom: 5px;
    }
    
    .bienvenida p {
        font-size: .9em;
        margin: 0;
    }

    #mensaje {
        width: 250px;
        font-size: .8em;
    }
}
