@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--primary-color: #055492;
	--background-color: #f8fffe;
	--dark-color: #ffffff;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
}

header {
	height: 20%;
}

/* ********************************** */
/*               BANNER               */
/* ********************************** */
.banner {
	background-image: url("../static/images/back.svg");
	height: 78rem;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: space-between;
	padding: 0 20rem;
	align-items: center;
}

.banner img {
	width: 60rem;
}

.content-banner {
	max-width: 64rem;
	padding: 25rem 0;
}

.content-banner p {
	color: #3EB0D8;
	font-size: 3.2rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

.content-banner h1 {
	color: #1B75BC;
	font-size: 10rem;
	font-weight: 500;
	line-height: 1.2;
}

.content-banner a {
	margin-top: 2rem;
	text-decoration: none;
	color: #fff;
	background-color: var(--primary-color);
	display: inline-block;
    font-size: 3.2rem;
	padding: 1rem 3rem;
	text-transform: uppercase;
	border-radius: 3rem;
}

/* ********************************** */
/*            MAIN CONTENT            */
/* ********************************** */
.main-content {
	background-color: var(--background-color);
}


/* ********************************** */
/*             CATEGORIES             */
/* ********************************** */

.top-categories {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.button-buscar{
	text-decoration: none;
	border: none;
	cursor: pointer;
}

.container-categories {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
}

.card-category {
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}

.category-usuario {
	background-image: linear-gradient(#00000080, #00000080),
		url('images/usuario.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.category-cita {
	background-image: linear-gradient(#00000080, #00000080),
		url('images/cita.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.category-sede {
	background-image: linear-gradient(#00000080, #00000080),
		url('images/sede.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.category-bonus {
	background-image: linear-gradient(#00000080, #00000080),
		url('images/bonus.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card-category p {
	font-size: 2.5rem;
	color: #fff;
	text-transform: capitalize;
	position: relative;
}

.card-category p::after {
	content: '';
	width: 2.5rem;
	height: 2px;
	background-color: #fff;
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translate(-50%, 50%);
}

.card-category span {
	font-size: 1.6rem;
	color: #fff;
	cursor: pointer;
}

.card-category span:hover {
	color: var(--primary-color);
}

/* ********************************** */
/*               FOOTER               */
/* ********************************** */

.footer {
	background-color: var(--primary-color);
}

.button-footer{
	border: none;
	cursor: pointer;
	background: none;
	color: white;
}

.button-footer:hover{
    color: white;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid #e2e2e2;
}

.container-footer {
	margin-top: 4em;
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	color: white;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--dark-color);
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #fff;
	font-size: 1.2rem;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.youtube {
	background-color: #c4302b;
}

.pinterest {
	background-color: #c8232c;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.content p {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
}

@media (max-width: 766px) {
	.banner {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
		height: auto;
		padding: 2rem;
	}

	.banner img {
		width: 100%;
		max-width: 400px;
		height: auto;
	}

	.content-banner {
		padding: 15px 0;
	}

	.content-banner h1 {
		font-size: 3.5rem;
	}

	.content-banner a {
		font-size: 2rem;
		padding: 0.5rem 1rem;
		display: block;
		margin-top: 1rem;
	}
}

